@import url(https://fonts.googleapis.com/css?family=sans-serif);
body {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #ce0000;
}
ul li {
  float: right;
}
ul li a {
  display: block;
  color: rgb(255, 208, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #be0000;
}
div {
  background-image: url('train.png');
  padding: 50px 0;
  margin-bottom: 0;
}
h1 {
  color: white;
  text-align: center;
  font-family: 'sans-serif';
  font-size: 50px;
  background-color: rgba(151, 89, 3, 0.82);
}
span {
  font-size: 20px;
}