@import url(https://fonts.googleapis.com/css?family=sans-serif);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
body {
  margin: 0;
  padding: 0;
}
ul {
  font-size: 20px;
  font-family: 'Playfair Display';
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #a80000;
}
ul li {
  float: right;
}
ul li a {
  display: block;
  color: rgb(255, 208, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover:not(.active) {
  background-color: #b00303;
}
ul li a.active {
  background-color: #04AA6D;
}
div {
  background-image: url('train.png');
  padding: 40px 0;            
  background-size: cover;
}
img {
  border-radius: 100px;
  width: 300px;
  display: inline-block;
  vertical-align: middle;
  margin: 20px 0;
}
h1 {
  color: white;
  text-align: center;
  font-family: 'Playfair Display';
  font-size: 70px;
  background-color: rgba(174, 90, 0, 0.83);
}
span {
  font-size: 35px;
}
layer {
  font-size: 24px;
  font-family: 'Pacifico';
}

trai {
  text-align: left;
}
middle {
  text-align: center;
}
p {
  font-size: 30px;
  font-family: 'Quicksand';
  padding: 160px 250px;
}